<h1>Listing gists</h1>
<% @gists.each do |gist| %>
  <dl>
    <dt><%= link_to "#{gist.name}", "#{gist.url}" %> (<%= gist.count %>)</dt>
    <dd><%= link_to 'Edit', edit_gist_path(gist) %></dd>
  </dl>
<% end %>

<br />

<%= render 'entryform' %>
