<h1>本日の注目されている Gist</h1>

<ul>
  <% @gists.each do |gist| %>
    <li id="<%= gist.id %>">
      <h2 class="gist-name">
        <%= link_to gist.name, gist.url%>
      </h2>
      <ul>
        <li class="favorite-count"><%= gist.count %></li>
      </ul>
    </li>
  <% end %>
</ul>

<%= render 'entryform' %>
